@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  color-scheme: light dark;
  color: #d0d0d0;
  background-color: #000;
  letter-spacing: 0.05rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #1c1c1c;
}
body::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 0.5rem;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
